{% extends "layout.html" %}

{% block content %}
<nav>
  <h1>Brian's Notes <a class="rss" href="/blog/feed.xml" target="_blank" title="RSS feed"><i class="fas fa-rss"></i></a></h1>
  <dl class="posts-list">
  {% for post in posts if not post.get('hidden') %}
    <a href="/blog/{{post.stem}}">
      <dt>{{ post.title }}</dt>
      <dd>
        <time>{{ post['date'].strftime('%B %d, %Y') }}</time>
      </dd>
    </a>
  {% endfor %}
  </dl>
</nav>
{% endblock %}
