<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Brian Wright">
  <link rel="shortcut icon" href="/blog/favicon.ico">
  <title>{% block title %}Blog{% endblock %} - Brian (PennRobotics)</title>
  <link rel="alternate" type="application/rss+xml" href="https://brian.nerbl.net/blog/feed.xml" />
  <link href="/blog/static/bootstrap.min.css" rel="stylesheet">
  <link href="/blog/static/style.css" rel="stylesheet">
  <link href="/blog/static/pygments.css" rel="stylesheet">
  {% block meta %}{% endblock %}
</head>
<body>
  <div class="container">

    {% block content %}{% endblock %}

    <footer>
      <div class="row">
        <div class="col-md-1 d-none d-md-block img-me-container">
          TODO<!--img class="img-me img-fluid" src="/blog/static/me.png"-->
        </div>
        <div class="col-md info">
          <span class="name">Brian</span><br>
          <a href="https://brian.nerbl.net"><i class="fa fa-link" aria-hidden="true"></i> nerbl.net</a>
          · <a href="https://gitlab.com/PennRobotics" rel="noopener"><i class="fab fa-gitlab" aria-hidden="true"></i> PennRobotics</a>
          · <a href="https://linkedin.com/PennRobotics" rel="noopener"><i class="fab fa-linkedin" aria-hidden="true"></i> PennRobotics</a>
          <br>
          <span class="location"><i class="fas fa-map-marker"></i> Munich</span>
        </div>
        <div class="col-md">
          <p class="disclaimer">
            &copy; 2024<!--&ndash;2024--><br>
            Content: <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>, <a href="https://spdx.org/licenses/CERN-OHL-P-2.0.html">CERN-OHL-P-2.0</a>, or <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>: <a href="https://gitlab.com/PennRobotics/python-blog/-/blob/main/LICENSE">Details</a><br>
            Site layout by <a href="https://thea.codes/">Stargirl Flowers</a>. (<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>)
          </p>
      </div>

    </footer>
  </div>
  <link href="/blog/static/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
</body>
</html>
