{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{post.title}} - Brian Wright">
<meta property="twitter:title" content="{{post.title}} - Brian Wright">

{% if post.description %}
<meta property="og:description" content="{{post.description}}">
<meta property="twitter:description" content="{{post.description}}">
{% endif %}

{% if post.preview_image %}
<meta property="og:image" content="https://brian.nerbl.net/blog/{{post.stem}}/{{post.preview_image}}">
<meta property="twitter:image" content="https://brian.nerbl.net/blog/{{post.stem}}/{{post.preview_image}}">
{% endif %}

{% if post.preview_image_alt %}
<meta name="twitter:image:alt" content="{{post.preview_image_alt}}">
{% endif %}

<meta property="og:url" content="https://brian.nerbl.net/blog/{{post.stem}}">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time>Posted by Brian Wright on {{post['date'].strftime('%B %e, %Y')}}</time>
    · <a href="/blog/">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>

</article>
{% endblock %}
